@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Clash Display', sans-serif;
}
:root{
     --primary: #346AFF;
     --secondary: #121923;
     --white: #fbfbfb;
}
body{
     background-color: var(--secondary);
     width: 100vw;
     overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p{
     color: var(--white);
}
a{
     color: var(--white)!important;
     text-decoration: none;
}
nav{
     .navbar-brand{
          width: 70px;
          height: 70px;
     }
     .btn{
          background-color: var(--primary);
          color: #000;
     }
}
.container-fluid{
     padding: 2vw 5vw;
}
section{
     height: 100vh;
     width: 100%;
     background-color: transparent;
    overflow-x: hidden;
}
#home{
     height: 100vh;
     width: 100%;
    overflow-x: hidden;
     /* border: 1px solid wheat; */
     img{
          width: 100%;
          height: 100%;
          object-fit: contain;
     }
     .cardss{
          width: 80%;
          height: 90vh;
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 10px;
          .card-title{
               font-size: 3rem;
               line-height: 1;
               font-weight: 700;
               color: var(--white);
               span{
                    color: var(--primary);
               }
          }
          .card-text{
               font-size: 1rem;
               /* width: 0%; */
               color: #fbfbfbaa;
          }
          .btn{
               padding: 1rem 1.5rem;
               -webkit-backdrop-filter: blur(5px);
               background-color: #fbfbfb09;
               backdrop-filter: blur(5px);
               letter-spacing: 1px;
          }
          .btn1{
               background-color: var(--primary);
               a{
                    font-weight: 500;
                    color: var(--secondary)!important;
               }
          }  
     }
     .navbar-toggler{
          border: none;
          color: var(--white)!important;
     }
     .box{
          background-color: #fbfbfb09;
          border-radius: 100px;
          z-index: -3;
          -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
          width: 60vw;
          height: 60vw;
          transform: rotate(20deg);
     }
     .box1{
          top: -70%;
          left: -20%;
     }
     .box2{
          right: 0;
          width: 60vw;
          transform: rotate(-17deg);
          height: 60vw;
          top: 0%;
          right: -10%;
     }
     .icons{
          width: 50px;
          height: 50px;
          opacity: 0.6;
          z-index: -2;
          img{
               width: 50px;
               height: 50px;    
          }
     }
     .icon1{
          top: 20%;
          transform: rotate(320deg);
          left: 40%;
     }
     .icon2{
          top: 60%;
          transform: rotate(20deg);
          left: 90%;
     }
     .icon3{
          top: 70%;
          transform: rotate(150deg);
          left: 20%;
     }
}
#abou{
     img{
          width: 100%;
          height: 100%;
          object-fit: contain;
     } 
     h2{
          font-size: 3rem;
          line-height: 1;
          font-weight: 700;
          color: var(--white);
          margin-bottom: 1rem;
          span{
               color: var(--primary);
          }
     }
     p{
          font-size: 1rem;
          color: #fbfbfbaa;
     }
     .btn{
          margin-top: 1.5rem;
          width: max-content;
          padding: 0.5rem 1rem;
          -webkit-backdrop-filter: blur(5px);
          background-color: #fbfbfb09;
          backdrop-filter: blur(5px);
          letter-spacing: 1px;
          font-weight: 500;
          background-color: var(--primary);
          a{
               font-weight: 500;
               color: var(--secondary)!important;
          }
     } 
     .box{
          background-color: #fbfbfb09;
          border-radius: 10px;
          z-index: 4;
          -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
          width: 15vw;
          height: 7vw;
          .span1{
               color: var(--primary);
               font-size: 1.5rem;
               font-weight: 600;
          }
          .span2{
               font-size: 1.2rem;
               color: var(--white);
          }
     }
     .box1{
          top: 10%;
     }
     .box2{
          right: 0%;
          bottom: 0%;
          .span1{
               font-size: 2rem;
          }
     }
}
#services{
     .header{
          text-align: center;
          margin: 0 auto;
          width: 40vw;
          h2{
               font-size: 2.5rem;
               line-height: 1;
               font-weight: 700;
               color: var(--white);
               margin-bottom: 1rem;
               span{
                    color: var(--primary);
               }
          }
          p{
               font-size: 1rem;
               color: #fbfbfbaa;
          }
     }
     .d-gridd{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
          margin-top: 2rem;
          .card{
               background: #cbcbcb08;
               border-radius: 10px;
               padding: 1rem;
               -webkit-backdrop-filter: blur(5px);
               backdrop-filter: blur(5px);
               .icoma{
                    width: 70px;
                    height: 70px;
                    -webkit-backdrop-filter: blur(5px);
                    backdrop-filter: blur(5px);
                    background-color: #fbfbfb09;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                         font-size: 2rem;
                         color: var(--primary);
                    }
               }
              h4{
                    font-size: 1.5rem;
                    line-height: 1;
                    font-weight: 700;
                    color: var(--white);
                    margin-bottom: 1rem;
               }
               p{
                    font-size: 1rem;
                    color: #fbfbfbaa;
               }
          }
          .card:hover{
               border: 1px solid var(--primary);
               box-shadow: 5px 5px 5px #346aff57;
          }
     }
}
@media (min-width: 300px) and (max-width: 750px) {
     .heroImg{
          display: none;
     }
     section{
          height: auto;
          padding: 2vw 5vw;
     }
     #home{
          .navbar-collapse{
               position: absolute;
               top: 10vh;
               background-color: #20202006;
               z-index: 4;
               -webkit-backdrop-filter: blur(5px);
               backdrop-filter: blur(5px);
               width: 90vw;
               padding: 10px 30px;
          }
          .box{
               border-radius: 50px;
          }
          .box1{
               left: -5%;
               top: 50%;
          }
          .icon3{
               top: 80%;
          }
          .icon2{
               left: 85%;
          }
          .icon1{
               left: 40%;
          }
          .cardss{
               width: 100%;
          }
     }
}